<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738172637210-e6aeskog9k6nqm50vo3b2rj0qq85r1u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738172637210-e6aeskog9k6nqm50vo3b2rj0qq85r1u6</string>
	<key>API_KEY</key>
	<string>AIzaSyCK1jiKG7UAwyZh0h8OePkb9KNooMCPmvM</string>
	<key>GCM_SENDER_ID</key>
	<string>738172637210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prince.Publisher</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-40d07</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-40d07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738172637210:ios:f4afa88a906a36087781a3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-40d07.firebaseio.com</string>
</dict>
</plist>